.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--neon-green);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.email__block {
    padding: 20px;
}

h2 {
    margin: 0;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 58px;
    color: var(--dark-blue);
}

p {
    margin-bottom: 20px;
}

.message {
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
}